[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.2.0"
psycopg2 = ">=2.7,<3.0"
dj-database-url = "==0.5.0"
django-extensions = "==2.1.9"
ipython = "==7.6.1"
requests = "==2.22.0"

[dev-packages]
werkzeug = "==0.15.4"
flake8 = "*"
isort = "*"
pre-commit = "*"
black = "==19.3b0"
ipdb = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"
mock = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
