[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==2.2.10"
psycopg2 = ">=2.7,<3.0"
dj-database-url = "==0.5.0"
django-extensions = "==2.1.9"
django-phonenumber-field ="==3.0.1"
phonenumbers = "==8.10.15"
ipython = "==7.6.1"
requests = "==2.22.0"
twilio = "~=6.29.2"
simplejson = "~=3.16.0"
gunicorn = "*"
whitenoise = ">=4.1.2,<4.2"
sentry-sdk = "~=0.10.2"
django-webpack4-loader = "~=0.0.5"
djangorestframework = ">=3.9.2,<3.10"
attrs = "*"

[dev-packages]
werkzeug = "==0.15.4"
flake8 = "*"
isort = "*"
pre-commit = "*"
black = "==19.3b0"
ipdb = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"
mock = "*"
factory-boy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
